footer{
  background-color: #353535;
  padding: 15px;

  ul{
    color: white;
    li{
      text-decoration: none;
      list-style-type: none;
      text-align: justify;
      i{
        margin-right: 5px;
      }
    }
  }
}